@import '~antd/lib/style/themes/dark.less';
@import '~antd/dist/antd.less';

.custom-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}
 
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 5px;
}


.cleanrss-reader {
  font-size: medium;
  margin-left: 10vw;
  margin-right: 10vw;
}

.cleanrss-reader img {
  max-width: 100%;
  object-fit: contain;
}

.cleanrss-reader figure {
  max-width: 90%;
}

.cleanrss-reader figure {
  font-size: small;
  font-style: italic;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}