@import '~antd/lib/style/themes/dark.less';
@import '~antd/dist/antd.less';

::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 6px;
  border: 4px solid transparent;
  background-clip: content-box;
}


.cleanrss-reader {
  font-size: medium;
  margin-left: 10vw;
  margin-right: 10vw;
}

.cleanrss-reader img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.cleanrss-reader figure {
  max-width: 90%;
}

.cleanrss-reader figure {
  font-size: small;
  font-style: italic;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}